<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Developer</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" th:href="@{../css/bootstrap.min.css}" />	
</head>
<body>
<div class="container">
	<h1>Dodaj kurs</h1>
	<form th:action="@{/student/{id}/courses(id=${student.id})}" method="get" enctype="multipart/form-data" >
	<div class="col-md-4">
		<div class="panel panel-default">
		 <div class="panel-heading">Informacije o studentu</div>
		 <div class="panel-body" style="padding-left: 5px;">
			Ime: <b th:text="${student.firstName}" /> <b th:text="${student.lastName}" /><br/>
			Email: <span th:text="${student.email}" /><br/>
			Smer: <span th:text="${student.department}" /><br/>
			<br/>Kursevi:
				<span th:each="course : ${student.courses}">
					<br/>&nbsp;&nbsp;<span th:text="${course.name}" />
				</span>
				<br/>
				</div>
		</div>	
			<div class="col-md-6">
			<select class="form-control" name="courseId">
				<option th:each="course : ${courses}" 
					th:value="${course.courseid}" 
					th:text="${course.name}">Course</option>
			</select>
			</div>
			<input type="submit" name="action" class="btn btn-primary" value="Save"></input>
			<input type="submit" name="action" class="btn btn-default" value="Cancel"></input>
	</div>
	</form>
</div>
</body>
</html>