<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add student</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<h1>Sign-up</h1>
	<div class="col-md-4">
		<form th:object="${signupform}" th:action="@{/saveuser}" action="#" method="post">
			<input type="text" th:field="*{username}" class="form-control"
				placeholder="Username" />
			<p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</p>
			<div style="clear: both; display: block; height: 10px;"></div>	
			<input type="password" th:field="*{password}" class="form-control"
				placeholder="Password" />
			<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</p>
			<div style="clear: both; display: block; height: 10px;"></div>	
			<input type="password" th:field="*{passwordCheck}" class="form-control"
				placeholder="Confirm Password" />
			<p th:if="${#fields.hasErrors('passwordCheck')}" th:errors="*{passwordCheck}">Password Match Error</p>
			
			<div style="clear: both; display: block; height: 10px;"></div>	
			<input type="submit" class="btn btn-primary" value="Save"></input>		
		</form>
	</div>
</body>
</html>