<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Studentlist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
 
</head>
<body>
<div class="container">
	<div class="col-md-4">
		<h1>Lista Studenata</h1>
	</div>
	<div class="col-md-4">
		<h3 th:inline="text">Dobrodosli [[${#httpServletRequest.remoteUser}]]</h3>
	</div>
	<div class="col-md-4" style="padding:20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Logout" class="btn btn-danger"/>
		</form>
	</div>
    
    <div style="padding:0 20px">
    <table class="table table-striped">
		<tr>
		    <th>Ime i prezime</th>
		    <th>Email</th>
		    <th>Smer</th>
		    <th>Kursevi</th>
		    <th>Actions</th>
		</tr>  
    	<tr th:each = "student : ${students}">
    		<td th:text="${student.firstName} + ' ' + ${student.lastName}"></td>
    		<td th:text="${student.email}"></td>
    		<td th:text="${student.department}"></td>
    		<td>
				<span th:each="course,iterStat : ${student.courses}">
					<span th:text="${course.name}"/><th:block th:if="${!iterStat.last}">,</th:block>
				</span>    		
    		</td>
    		<td>
    			<a th:href="@{/addStudentCourse/{id}(id=${student.id})}" class="btn btn-primary btn-xs">Dodaj kurs</a>
    			<a th:href="@{/edit/{id}(id=${student.id})}" class="btn btn-primary btn-xs">Edit</a>
    			<a sec:authorize="hasAuthority('ADMIN')" th:href="@{/delete/{id}(id=${student.id})}" class="btn btn-danger btn-xs">Delete</a>
    		</td>
    	</tr>
    </table>
    <a href="/add" class="btn btn-primary">Dodaj studenta</a>
	</div>    
</div>
</body>
</html>